<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/header') %>
		<style>
			#id{
			  background-color: lightgoldenrodyellow;
			}
		  </style>
	</head>
	<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
		<%- include('parts/notice') %>
		<%- include('parts/logoarea') %>
		<div style="width:1200px;margin:auto;margin-top:5px;">
		<div class="main_gallery">
			<div class="gallery_button gallery_button_left" id="prevBtn"><i class="fas fa-chevron-left"></i></div>
			<div class="gallery_button gallery_button_right" id="nextBtn"><i class="fas fa-chevron-right"></i></div>
			<div class="carousel-container" style="overflow:hidden;">
			<div class="carousel-slide" style="display:flex;">
			<% for(let i = 0 ; i < gallery.length ; i++) { %>
			<div class="gallery_item" id="<%= i===0 ? 'lastClone' : '' %><%= i===gallery.length-1? 'firstClone' : '' %>">
			<div class="gallery_explanation">
				<div class="gallery_content">
				
				</div>
				<div class="gallery_content_tmp" style="display:none;"><%= gallery[i].gallery %></div>
			</div>
			
			<div class="gallery_images">
				<a href="/item?id=<%= gallery[i]._id %>">
			<div class="gallery_main_box">
			<img class="gallery_main" src="images<%= gallery[i].image[0] %>">
			</div>
			</a>	
			</div>
			</div>
			<% } %>
		</div>
		</div>
		</div>		
		<div style="padding:10px;"></div>
		<div style="border:1px solid #666;border-radius:6px;">
			<div style="margin-bottom:8px;padding-left:4px;">
				<div style="margin:8px;"></div>
				<a href="/list?category=house"><button class="searchButton">전원주택</button></a>
				<a href="/list?category=affordable"><button class="searchButton">3억 이하</button></a>
				<a href="/list?category=midprice"><button class="searchButton">3억 ~ 6억</button></a>
				<a href="/list?category=highprice"><button class="searchButton">6억 ~ 10억</button></a>
				<a href="/list?category=luxury"><button class="searchButton">10억 이상</button></a>
				<a href="/list?category=land"><button class="searchButton2">토지</button></a>
				<a href="/list?category=affordable_land"><button class="searchButton2">2억 이하</button></a>
				<a href="/list?category=midprice_land"><button class="searchButton2">2억 ~ 5억</button></a>
				<a href="/list?category=highprice_land"><button class="searchButton2">5억 이상</button></a>
				<a href="/list?category=commercial"><button class="searchButton">상업용</button></a>
			</div>
			<div style="border-bottom:1px solid #666"></div>
			<div style="display:flex;">
				<div style="padding-left:10px;padding-right:10px;display:inline-block;border-right:1px solid #666;height:307px;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;">
					<div class="detail_search">상세검색</div>
					<img src="assets/333.png"><br />
					<img src="assets/3.PNG">
				</div>
				<div style="width:100%;border-bottom-right-radius: 5px;">
				<form action="/list" method="POST">
					<div style="display:flex;height:42px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
						
						<div style="width:80%;padding-bottom:5px;padding-top:5px;">
							<div class="searchName">지역검색</div>
							<div class="letters" style="display:inline-block;margin-left:10px;">
								<select class="locationSelect locationSelect_first" name="si" id="si">
									<option value="">:: 시 선택 ::</option>
									<option value="서울">서울</option>
									<option value="경기">경기</option>
									<option value="인천">인천</option>
									<option value="부산">부산</option>
									<option value="대구">대구</option>
									<option value="광주">광주</option>
									<option value="대전">대전</option>
									<option value="울산">울산</option>
									<option value="강원">강원</option>
									<option value="경남">경남</option>
									<option value="경북">경북</option>
									<option value="전남">전남</option>
									<option value="전북">전북</option>
									<option value="충남">충남</option>
									<option value="충북">충북</option>
									<option value="제주">제주</option>
								</select>
								<select class="locationSelect" name="gun" id="gun">
									<option value="">:: 구 선택 ::</option>
									<option value="고양시 덕양구">고양시 덕양구</option>
									<option value="고양시 일산서구">고양시 일산서구</option>
									<option value="고양시 일산동구">고양시 일산동구</option>
									<option value="과천시">과천시</option>
									<option value="광명시">광명시</option>
									<option value="광주시">광주시</option>
									<option value="구리시">구리시</option>
									<option value="김포시">김포시</option>
									<option value="군포시">군포시</option>
									<option value="남양주시">남양주시</option>
									<option value="동두천시">동두천시</option>
									<option value="부천시 소사구">부천시 소사구</option>
									<option value="부천시 원미구">부천시 원미구</option>
									<option value="부천시 오정구">부천시 오정구</option>
									<option value="성남시 분당구">성남시 분당구</option>
									<option value="성남시 수정구">성남시 수정구</option>
									<option value="성남시 중원구">성남시 중원구</option>
									<option value="수원시 영통구">수원시 영통구</option>
									<option value="수원시 권선구">수원시 권선구</option>
									<option value="수원시 장안구">수원시 장안구</option>
									<option value="수원시 팔달구">수원시 팔달구</option>
									<option value="시흥시">시흥시</option>
									<option value="안산시 단원구">안산시 단원구</option>
									<option value="안산시 상록구">안산시 상록구</option>
									<option value="안성시">안성시</option>
									<option value="안양시 동안구">안양시 동안구</option>
									<option value="안양시 만안구">안양시 만안구</option>
									<option value="양주시">양주시</option>
									<option value="오산시">오산시</option>
									<option value="용인시 기흥구">용인시 기흥구</option>
									<option value="용인시 수지구">용인시 수지구</option>
									<option value="용인시 처인구">용인시 처인구</option>
									<option value="의왕시">의왕시</option>
									<option value="의정부시">의정부시</option>
									<option value="이천시">이천시</option>
									<option value="파주시">파주시</option>
									<option value="평택시">평택시</option>
									<option value="포천시">포천시</option>
									<option value="하남시">하남시</option>
									<option value="화성시">화성시</option>
									<option value="가평군">가평군</option>
									<option value="양평군">양평군</option>
									<option value="여주시">여주시</option>
									<option value="연천군">연천군</option>
								</select>
								<select class="locationSelect" name="up" id="up">
									<option value="">:: 동 선택 ::</option>
								</select>
							</div>
						</div>
					</div>
					<div style="margin-top:7px;padding-bottom:5px;height:32px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
						<div class="searchName">지역</div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_1" value="강하면"><label for="location_1" >강하면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_2" value="강상면"><label for="location_1" >강상면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_3" value="양평읍"><label for="location_1" >양평읍</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_4" value="옥천면"><label for="location_1" >옥천면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_5" value="양서면"><label for="location_1" >양서면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_6" value="서종면"><label for="location_1" >서종면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_7" value="용문면"><label for="location_1" >용문면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_8" value="지평면"><label for="location_1" >지평면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_9" value="개군면"><label for="location_1" >개군면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_10" value="퇴촌면"><label for="location_1" >퇴촌면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_11" value="남종면"><label for="location_1" >남종면</label></div>
						<div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="location_12" value="기타지역"><label for="location_1" >기타</label></div>
					</div>
				<div style="margin-top:5px;padding-bottom:5px;height:32px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
					<div class="searchName">매물종류</div>
					<div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="type_1" value="house"><label for="type_1">전원주택/별장/농가주택/펜션</label></div>
					<div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="type_2" value="land"><label for="type_2">토지/농막</label></div>
					<div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="type_3" value="consumer"><label for="type_3">상가/모텔/빌딩</label></div>
					<div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="type_4" value="rent"><label for="type_4">전월세</label></div>
					<div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="type_5" value="factory"><label for="type_5">창고/공장</label></div>
					<div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="type_6" value="villa"><label for="type_6">아파트/빌라</label></div>
				</div>
				<div style="display:flex;height:42px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
					<div style="width:33.33%;padding-bottom:5px;padding-top:5px;">
						<div class="searchName">가격</div>
						<div class="letters" style="display:inline-block;margin-left:10px;padding-right:50px;border-right:1px solid #aaa;"><input class="searchinput" type="number" name="price_low"> 만원 ~ <input class="searchinput" type="number" name="price_high"> 만원</div>
					</div>
					<div style="width:33.33%;padding-bottom:5px;padding-top:5px;">
						<div class="searchName">토지면적</div>
						<div class="letters" style="display:inline-block;margin-left:10px;padding-right:30px;border-right:1px solid #aaa;"><input class="searchinput" type="number" name="area_ground_low"> 평 ~ <input class="searchinput" type="number" name="area_ground_high"> 평</div>
					</div>
					<div style="width:33.33%;padding-bottom:5px;padding-top:5px;">
						<div class="searchName">건물면적</div>
						<div class="letters" style="display:inline-block;margin-left:10px;padding-right:10px;"><input class="searchinput" type="number" name="area_building_low"> 평 ~ <input class="searchinput" type="number" name="area_building_high"> 평</div>
					</div>
				</div>
				<div style="margin-top:7px;padding-bottom:5px;height:32px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
					<div class="searchName" style="margin-right:4px;">옵션</div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme1" value="landscape"><label for="theme1">조경우수</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme2" value="scene"><label for="theme2">경관우수</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme3" value="river"><label for="theme3">강조망</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme4" value="south"><label for="theme4">남향</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme5" value="mountainside"><label for="theme5">산자락</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme6" value="private"><label for="theme6">사생활보호</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme7" value="school"><label for="theme7">학교인근</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme8" value="valley"><label for="theme8">계곡인접</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme9" value="subway"><label for="theme9">지하철도보</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme10" value="flatland"><label for="theme10">평지</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme11" value="complex"><label for="theme11">단지형</label></div>
					<div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="theme12" value="traditional"><label for="theme12">한옥</label></div>
				</div>
				<div style="margin-top:5px;padding-bottom:5px;height:32px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
					<div class="searchName" style="margin-right:4px;">건축구조</div>
					<div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended" id="recommended1" value="철근콘크리트"><label for="recommended1">철근콘크리트</div>
					<div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended"  id="recommended2" value="일반목구조"><label for="recommended2">목조(목구조)</div>
					<div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended"  id="recommended3" value="조적조"><label for="recommended3">벽돌(조적조, 연와조, 벽돌구조, 시멘트벽돌 등)</div>
					<div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended"  id="recommended4" value="기타"><label for="recommended4">기타</div>
				</div>	
				<div style="padding-left:10px;padding-bottom:5px;padding-top:5px;display:inline-block;">
					<div class="searchName">매물번호</div>
					<div class="letters" style="display:inline-block;margin-left:10px;padding-right:10px;"><input class="searchinput_text" type="text" id="id" name="id"></div>
				</div>			
				<input type="submit" value="매물검색" class="search_submit">
				<a href="https://www.youtube.com/user/7735900/featured"><button type="button" class="search_youtube"><i class="fab fa-youtube yt"></i> 유튜브</button></a>
				</form>
			</div>
			</div>
		</div>
		<div style="margin:20px;font-size:16px;">
		</div>
		<div class="section_div">
			<a class="noline" href="/list?category=recommended">
			<div class="section_name">
				<span class="section_big">추천매물</span>&nbsp;&nbsp;<span class="section_little">시골이장이 자신있게 권해드리는 추천매물입니다.</span>
				<div class="section_button">더보기 <i class="fas fa-plus"></i></div>
			</div>
			</a>
			<div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
				<% for(let i = 0 ; i < recommended.length ; i++) { %>
					<%- include('parts/card', {pageType : 'home', data : recommended[i]}) %>
				<% } %>
			</div>
		</div>
		<div class="section_div">
			<a class="noline" href="/list?category=luxury">
			<div class="section_name">
				<span class="section_big">고급주택</span>&nbsp;&nbsp;<span class="section_little">매매가 10억 이상의 고급주택입니다.</span>
				<div class="section_button">더보기 <i class="fas fa-plus"></i></div>
			</div>
			</a>
			<div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
				<% for(let i = 0 ; i < luxury.length ; i++) { %>
					<%- include('parts/card', {pageType : 'home', data: luxury[i]}) %>
				<% } %>
			</div>
		</div>
		<div class="section_div">
			<a class="noline" href="/list?category=land">
			<div class="section_name">				
				<span class="section_big">토지매물</span>&nbsp;&nbsp;<span class="section_little">전원주택 및 상가부지 등의 토지매물입니다.</span>
				<div class="section_button">더보기 <i class="fas fa-plus"></i></div>
			</div>
			</a>
			<div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
				<% for(let i = 0 ; i < land.length ; i++) { %>
					<%- include('parts/card', {pageType : 'home', data: land[i]}) %>
				<% } %>
			</div>
		</div>
		<div class="section_div">
			<a class="noline" href="/list?category=affordable">
			<div class="section_name">
				<span class="section_big">실속형매물</span>&nbsp;&nbsp;<span class="section_little">매매가 3억 미만의 실속형주택입니다.</span>
				<div class="section_button">더보기 <i class="fas fa-plus"></i></div>
			</div>
		</a>
			<div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
				<% for(let i = 0 ; i < affordable.length ; i++) { %>
					<%- include('parts/card', {pageType : 'home', data: affordable[i]}) %>
				<% } %>
			</div>
		</div>
		<div class="section_div">
			<a class="noline" href="/list?category=commercial">
			<div class="section_name">				
				<span class="section_big">수익형매물</span>&nbsp;&nbsp;<span class="section_little">음식점,펜션,카페 등의 수익형매물입니다.</span>
				<div class="section_button">더보기 <i class="fas fa-plus"></i></div>
			</div>
			</a>
			<div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
				<% for(let i = 0 ; i < commercial.length ; i++) { %>
					<%- include('parts/card', {pageType : 'home', data: commercial[i]}) %>
				<% } %>
			</div>
		</div>
		<div class="section_div">
			<a class="noline" href="/list?category=sidebar_rent">
			<div class="section_name">				
				<span class="section_big">전월세</span>&nbsp;&nbsp;<span class="section_little">전월세 매물입니다.</span>
				<div class="section_button">더보기 <i class="fas fa-plus"></i></div>
			</div>
		</a>
			<div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
				<% for(let i = 0 ; i < rent.length ; i++) { %>
					<%- include('parts/card', {pageType : 'home', data: rent[i]}) %>
				<% } %>
			</div>
		</div>
        </div>
		<footer>
			<%- include('parts/footer') %>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/carousel.js"></script>
		<script>
			$.ajaxSetup({cache:false});
			var c = document.getElementsByClassName('gallery_content');
			var d = document.getElementsByClassName('gallery_content_tmp');
			for(var i = 0 ; i < c.length ; i++){
				c[i].innerHTML = d[i].innerHTML.replace(/#8203;/gi,'').replace(/&gt;/gi,'>').replace(/&lt;/gi,'<').replace(/&amp;/gi,'').replace(/amp;/gi,'');
			}

			document.getElementById('si').value = '경기';

			var si = document.getElementById('si').addEventListener('change',function(){
				document.getElementById('gun').options.length = 1;
				document.getElementById('up').options.length = 1;
				if(document.getElementById('si').value===''){

				}
				else{
					var test = document.getElementById('si').value;
					if(window.navigator.userAgent.match(/(MSIE|Trident)/)){
						test = encodeURI(encodeURIComponent(document.getElementById('si').value));
					}
					$.get('/si?name='+ test,function(data){
						// console.log(data);
						for(var i = 0 ; i < data.length ; i++){
							var opt = document.createElement('option');
							opt.value = data[i];
							opt.innerHTML = data[i];
							document.getElementById('gun').appendChild(opt);
						}
					})
				}
			});

			var gun = document.getElementById('gun').addEventListener('change',function(){
				document.getElementById('up').options.length = 1;
				if(document.getElementById('gun').value===''){
					
				}else{
					var test = document.getElementById('gun').value;
					if(window.navigator.userAgent.match(/(MSIE|Trident)/)){
						test = encodeURI(encodeURIComponent(document.getElementById('gun').value));
					}
					$.get('/gun?name='+test,function(data){
						for(var i = 0 ; i < data.length ; i++){
							var opt = document.createElement('option');
							opt.value = data[i];
							opt.innerHTML = data[i];
							document.getElementById('up').appendChild(opt);
						}
					})
				}
			});
		</script>
	</body>
</html>
