<!DOCTYPE html>
<html>
  <head>
    <%- include('parts/header') %>
    <style>
      #id{
        background-color: lightgoldenrodyellow;
      }
    </style>
  </head>
  <body  oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <%- include('parts/notice') %> <%- include('parts/logoarea', {notice:notice}) %>
    <div style="display: none;" id="preData"><%= fillSearchBox %></div>
    <div class="container">
      <div class="sidebar"><%- include('parts/sidebar') %></div>
      <div class="maincontent">
        <div class="list_search">
          <div style="width: 100%">
            <div class="list_search_title">상세검색</div>
            <form action="/list" method="POST">
              <div style="display:flex;height:37px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
                <div style="width:80%;padding-bottom:5px;padding-top:5px;">
                  <div class="searchName">지역검색</div>
                  <div class="letters" style="display:inline-block;margin-left:10px;">
                    <select class="locationSelect locationSelect_first" name="si" id="si">
                      <option value="">:: 시 선택 ::</option>
                      <option value="서울">서울</option>
                      <option value="경기">경기</option>
                      <option value="인천">인천</option>
                      <option value="부산">부산</option>
                      <option value="대구">대구</option>
                      <option value="광주">광주</option>
                      <option value="대전">대전</option>
                      <option value="울산">울산</option>
                      <option value="강원">강원</option>
                      <option value="경남">경남</option>
                      <option value="경북">경북</option>
                      <option value="전남">전남</option>
                      <option value="전북">전북</option>
                      <option value="충남">충남</option>
                      <option value="충북">충북</option>
                      <option value="제주">제주</option>
                    </select>
                    <select class="locationSelect" name="gun" id="gun">
                      <option value="">:: 구 선택 ::</option>
                      <option value="고양시 덕양구">고양시 덕양구</option>
                      <option value="고양시 일산서구">고양시 일산서구</option>
                      <option value="고양시 일산동구">고양시 일산동구</option>
                      <option value="과천시">과천시</option>
                      <option value="광명시">광명시</option>
                      <option value="광주시">광주시</option>
                      <option value="구리시">구리시</option>
                      <option value="김포시">김포시</option>
                      <option value="군포시">군포시</option>
                      <option value="남양주시">남양주시</option>
                      <option value="동두천시">동두천시</option>
                      <option value="부천시 소사구">부천시 소사구</option>
                      <option value="부천시 원미구">부천시 원미구</option>
                      <option value="부천시 오정구">부천시 오정구</option>
                      <option value="성남시 분당구">성남시 분당구</option>
                      <option value="성남시 수정구">성남시 수정구</option>
                      <option value="성남시 중원구">성남시 중원구</option>
                      <option value="수원시 영통구">수원시 영통구</option>
                      <option value="수원시 권선구">수원시 권선구</option>
                      <option value="수원시 장안구">수원시 장안구</option>
                      <option value="수원시 팔달구">수원시 팔달구</option>
                      <option value="시흥시">시흥시</option>
                      <option value="안산시 단원구">안산시 단원구</option>
                      <option value="안산시 상록구">안산시 상록구</option>
                      <option value="안성시">안성시</option>
                      <option value="안양시 동안구">안양시 동안구</option>
                      <option value="안양시 만안구">안양시 만안구</option>
                      <option value="양주시">양주시</option>
                      <option value="오산시">오산시</option>
                      <option value="용인시 기흥구">용인시 기흥구</option>
                      <option value="용인시 수지구">용인시 수지구</option>
                      <option value="용인시 처인구">용인시 처인구</option>
                      <option value="의왕시">의왕시</option>
                      <option value="의정부시">의정부시</option>
                      <option value="이천시">이천시</option>
                      <option value="파주시">파주시</option>
                      <option value="평택시">평택시</option>
                      <option value="포천시">포천시</option>
                      <option value="하남시">하남시</option>
                      <option value="화성시">화성시</option>
                      <option value="가평군">가평군</option>
                      <option value="양평군">양평군</option>
                      <option value="여주시">여주시</option>
                      <option value="연천군">연천군</option>
                    </select>
                    <select class="locationSelect" name="up" id="up">
                      <option value="">:: 동 선택 ::</option>
                    </select>
                  </div>
                </div>
              </div>
              <div style="margin-top:5px;padding-bottom:5px;height:27px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
                <div class="searchName">지역</div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="gangha" value="강하면"><label for="gangha">강하면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="gangsang" value="강상면"><label for="gangsang">강상면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="yangpeong" value="양평읍"><label for="yangpeong">양평읍</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="okcheon" value="옥천면"><label for="okcheon">옥천면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="yangseo" value="양서면"><label for="yangseo">양서면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="seojong" value="서종면"><label for="seojong">서종면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="yongmun" value="용문면"><label for="yongmun">용문면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="jipeong" value="지평면"><label for="jipeong">지평면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="gaegun" value="개군면"><label for="gaegun">개군면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="toechon" value="퇴촌면"><label for="toechon">퇴촌면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="namjong" value="남종면"><label for="namjong">남종면</label></div>
                <div class="locationButton"><input class="locationCheckbox" type="checkbox" name="location" id="else" value="기타지역"><label for="else">기타</label></div>
              </div>
            <div style="margin-top:5px;padding-bottom:5px;height:27px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
              <div class="searchName">매물종류</div>
              <div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="house" value="house"><label for="house">전원주택/별장/농가주택/펜션</label></div>
              <div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="land" value="land"><label for="land">토지/농막</label></div>
              <div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="consumer" value="consumer"><label for="consumer">상가/모텔/빌딩</label></div>
              <div class="location_Button"><input class="locationCheckbox" type="checkbox" name="type" id="rent" value="rent"><label for="rent">전월세</label></div>
            </div>
            <div style="display:flex;height:37px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
              <div style="width:33.33%;padding-bottom:5px;padding-top:5px;">
                <div class="searchName">가격</div>
                <div class="letters" style="display:inline-block;margin-left:10px;padding-right:50px;border-right:1px solid #aaa;"><input class="searchinput" type="number" id="price_low" name="price_low"> 만원 ~ <input class="searchinput" type="number" id="price_high" name="price_high"> 만원</div>
              </div>
              <div style="width:33.33%;padding-bottom:5px;padding-top:5px;">
                <div class="searchName">토지면적</div>
                <div class="letters" style="display:inline-block;margin-left:10px;padding-right:30px;border-right:1px solid #aaa;"><input class="searchinput" type="number" id="area_ground_low" name="area_ground_low"> 평 ~ <input class="searchinput" type="number" id="area_ground_high" name="area_ground_high"> 평</div>
              </div>
              <div style="width:33.33%;padding-bottom:5px;padding-top:5px;">
                <div class="searchName">건물면적</div>
                <div class="letters" style="display:inline-block;margin-left:10px;padding-right:10px;"><input class="searchinput" type="number" id="area_building_low" name="area_building_low"> 평 ~ <input class="searchinput" type="number" id="area_building_high" name="area_building_high"> 평</div>
              </div>
            </div>
            <div style="margin-top:5px;padding-bottom:5px;height:27px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
              <div class="searchName" style="margin-right:4px;">옵션</div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="landscape" value="landscape"><label for="landscape">조경우수</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="scene" value="scene"><label for="scene">경관우수</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="river" value="river"><label for="river">강조망</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="south" value="south"><label for="south">남향</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="mountainside" value="mountainside"><label for="mountainside">산자락</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="private" value="private"><label for="private">사생활보호</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="school" value="school"><label for="school">학교인근</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="valley" value="valley"><label for="valley">계곡인접</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="subway" value="subway"><label for="subway">지하철도보</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="flatland" value="flatland"><label for="flatland">평지</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="complex" value="complex"><label for="complex">단지형</label></div>
              <div class="optionButton2"><input class="locationCheckbox" type="checkbox" name="theme" id="traditional" value="traditional"><label for="traditional">한옥</label></div>
            </div>
            <div style="margin-top:5px;padding-bottom:5px;height:27px;margin-left:10px;margin-right:10px;border-bottom:1px solid #e5e5e5;">
              <div class="searchName" style="margin-right:4px;">건축구조</div>
              <div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended" id="cheol" value="철근콘크리트"><label for="cheol">철근콘크리트</label></div>
              <div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended" id="mok" value="일반목구조"><label for="mok">목조(목구조)</label></div>
              <div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended" id="jo" value="조적조"><label for="jo">벽돌(조적조, 연와조, 벽돌구조, 시멘트벽돌 등)</label></div>
              <div class="optionButton"><input class="locationCheckbox" type="checkbox" name="recommended" id="else2" value="기타"><label for="else2">기타</label></div>
            </div>	
            <div style="position:relative;top:-2px;">
            <div style="margin-left:10px;display:inline-block;padding-bottom:0px;">
              <div class="searchName">매물번호</div>
              <div class="letters" style="display:inline-block;margin-left:10px;padding-right:10px;"><input class="searchinput_text" type="text" id="id" name="id"></div>
            </div>			
            <input type="submit" value="매물검색" class="search_submit2">
            <button type="button" onclick="reset()" class="search_reset">초기화</button>
          </div>  
          </form>
          </div>
        </div>
        <div class="main_items">
          <div class="section_name list_section">
            <% if(listType==='recommended') { %>
            <span class="section_big" id="list_section_title">TODAY'S PICK</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >시골이장의 추천매물입니다.</span
            >
            <% } else if(listType==='urgent') { %>
            <span class="section_big" id="list_section_title">급매물</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >투자가치가 높은 저렴한 급매물입니다.</span
            >
            <% } else if(listType==='house') { %>
            <span class="section_big" id="list_section_title"
              >전원주택/빌라/농가</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >전원주택 및 빌라 등의 주거매물입니다.</span
            >
            <% } else if(listType==='land') { %>
            <span class="section_big" id="list_section_title">LAND</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >전원주택 및 상가부지 등의 토지 매물입니다.</span
            >
            <% } else if(listType==='commercial') { %>
            <span class="section_big" id="list_section_title"
              >COMMERCIAL</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >근린생활시설(상가, 음식점, 모텔 등) 매물입니다.</span
            >
            <% } else if(listType==='affordable') { %>
            <span class="section_big" id="list_section_title"
              >AFFORDABLE</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >매매가 3억 미만의 전원주택 매물입니다.</span
            >
            <% } else if(listType==='midprice') { %>
            <span class="section_big" id="list_section_title"
              >3억 ~ 6억 매물</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >매매가 6억 미만의 매물입니다.</span
            >
            <% } else if(listType==='highprice') { %>
            <span class="section_big" id="list_section_title"
              >6억 ~ 10억 매물</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >매매가 10억 미만의 매물입니다.</span
            >
            <% } else if(listType==='luxury') { %>
            <span class="section_big" id="list_section_title"
              >SUPERIOR</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >매매가 10억 이상의 전원주택 매물입니다.</span
            >
            <% } else if(listType==='affordable_land') { %>
              <span class="section_big" id="list_section_title"
                >2억 이하 매물</span
              >&nbsp;&nbsp;<span
                id="list_section_explanation"
                class="section_little"
                >매매가 2억 이하의 토지입니다.</span
              >
              <% } else if(listType==='midprice_land') { %>
                <span class="section_big" id="list_section_title"
                  >2억 ~ 5억 매물</span
                >&nbsp;&nbsp;<span
                  id="list_section_explanation"
                  class="section_little"
                  >매매가 5억 이하의 토지입니다.</span
                >
                <% } else if(listType==='highprice_land') { %>
                  <span class="section_big" id="list_section_title"
                    >5억 이상 매물</span
                  >&nbsp;&nbsp;<span
                    id="list_section_explanation"
                    class="section_little"
                    >매매가 5억 이상의 토지입니다.</span
                  >
            <% } else if(listType==='sidebar_house') { %>
            <span class="section_big" id="list_section_title"
              >전원주택/별장/농가주택/펜션</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >전원주택 및 별장 매물입니다.</span
            >
            <% } else if(listType==='sidebar_land') { %>
              <span class="section_big" id="list_section_title"
                >토지/농막</span
              >&nbsp;&nbsp;<span
                id="list_section_explanation"
                class="section_little"
                >토지 및 농막 매물입니다.</span
              >
            <% } else if(listType==='sidebar_consumer') { %>
            <span class="section_big" id="list_section_title"
              >상가/모텔/빌딩</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >상가 및 수익형 부동산입니다.</span
            >
            <% } else if(listType==='sidebar_rent') { %>
            <span class="section_big" id="list_section_title"
              >RENTALS</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >전월세 매물입니다.</span
            >
            <% } else if(listType==='sidebar_factory') { %>
            <span class="section_big" id="list_section_title"
              >창고/공장</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >창고 또는 공장 매물입니다.</span
            >
            <% } else if(listType==='sidebar_villa') { %>
            <span class="section_big" id="list_section_title"
              >아파트/빌라</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >아파트 또는 빌라 매물입니다.</span
            >
            <% } else { %>
            <span class="section_big" id="list_section_title">검색결과</span
            >&nbsp;&nbsp;<span
              id="list_section_explanation"
              class="section_little"
              >검색결과에 맞는 매물입니다.</span
            >
            <% } %>
            <div class="list_sort">
              <span id="price_sell_asc">낮은가격순</span> |
              <span id="price_sell_desc">높은가격순</span> |
              <span id="area_ground_desc">넓은면적순</span> |
              <span id="area_ground_asc">좁은면적순</span> |
              <span id="timestamp_modified_desc">등록일순</span>
            </div>
          </div>
          <div class="card_items" id="card_items">
            <% for(let i = 0 ; i < data.length ; i++) { %> <%-
            include('parts/card', {pageType : 'list', data: data[i]}) %> <% } %>
          </div>
        </div>
      </div>
    </div>
    <footer><%- include('parts/footer') %></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      document.getElementById('si').value = '경기';

      function reset(){
        var checkboxes = document.getElementsByClassName('locationCheckbox');
        for(var i = 0 ; i < checkboxes.length ; i++){
          checkboxes[i].checked = false;
        }
        document.getElementById('id').value = '';
        document.getElementById('price_low').value = '';
        document.getElementById('price_high').value = '';
        document.getElementById('area_ground_low').value = '';
        document.getElementById('area_ground_high').value = '';
        document.getElementById('area_building_low').value = '';
        document.getElementById('area_building_high').value = '';
      }

        function findMatch(change, input){
          for(var i = 0 ; i < change.length ; i++){
            if(change[i][0]===input){
              return change[i][1];
            }
          }
          return 'none';
        }

        var preData = JSON.parse(document.getElementById('preData').innerHTML);
        if(preData.id) document.getElementById('id').value = preData.id;
        document.getElementById('price_low').value = preData.price_low;
        document.getElementById('price_high').value = preData.price_high;
        document.getElementById('area_ground_low').value = preData.area_ground_low;
        document.getElementById('area_ground_high').value = preData.area_ground_high;
        document.getElementById('area_building_low').value = preData.area_building_low;
        document.getElementById('area_building_high').value = preData.area_building_high;
        if(typeof preData.location !== 'undefined'){
          var change = [['퇴촌면','toechon'],['남종면','namjong'],['강하면','gangha'],['강상면','gangsang'],['양평읍','yangpeong'],['옥천면','okcheon'],['양서면','yangseo'],['서종면','seojong'],['용문면','yongmun'],['지평면','jipeong'],['개군면','gaegun'],['기타지역','else']];
          if(typeof preData.location === 'string'){
            document.getElementById(findMatch(change,preData.location)).checked = true;
          }else{
            for(var i = 0 ; i < preData.location.length; i++){
              document.getElementById(findMatch(change,preData.location[i])).checked = true;
            }
          }
        }

        if(typeof preData.type !== 'undefined'){
          if(typeof preData.type === 'string'){
            document.getElementById(preData.type).checked = true;
          }else{
            for(var i = 0 ; i < preData.type.length ; i++){
              document.getElementById(preData.type[i]).checked = true;
            }
          }
        }

        if(typeof preData.theme !== 'undefined'){
          if(typeof preData.theme === 'string'){
            document.getElementById(preData.theme).checked = true;
          }else{
            for(var i = 0 ; i < preData.theme.length ; i++){
              document.getElementById(preData.theme[i]).checked = true;
            }
          }
        }

        if(typeof preData.recommended !== 'undefined'){
          var change2 = [['철근콘크리트','cheol'],['일반목구조','mok'],['조적조','jo'],['기타','else2']];
          if(typeof preData.recommended === 'string'){
            document.getElementById(findMatch(change2,preData.recommended)).checked = true;
          }else{
            for(var i = 0 ; i < preData.recommended.length ; i++){
              document.getElementById(findMatch(change2,preData.recommended[i])).checked = true;
            }
          }
        }

        $.ajaxSetup({cache:false});
    		var si = document.getElementById('si').addEventListener('change',function(){
				document.getElementById('gun').options.length = 1;
				document.getElementById('up').options.length = 1;
				if(document.getElementById('si').value===''){

				}
				else{
          var test = document.getElementById('si').value;
					if(window.navigator.userAgent.match(/(MSIE|Trident)/)){
						test = encodeURI(encodeURIComponent(document.getElementById('si').value));
					}
					$.get('/si?name='+test,function(data){
						for(var i = 0 ; i < data.length ; i++){
							var opt = document.createElement('option');
							opt.value = data[i];
							opt.innerHTML = data[i];
							document.getElementById('gun').appendChild(opt);
						}
					})
				}
			});

			var gun = document.getElementById('gun').addEventListener('change',function(){
				document.getElementById('up').options.length = 1;
				if(document.getElementById('gun').value===''){
					
				}else{
          var test = document.getElementById('gun').value;
					if(window.navigator.userAgent.match(/(MSIE|Trident)/)){
						test = encodeURI(encodeURIComponent(document.getElementById('gun').value));
					}
					$.get('/gun?name='+test,function(data){
						for(var i = 0 ; i < data.length ; i++){
							var opt = document.createElement('option');
							opt.value = data[i];
							opt.innerHTML = data[i];
							document.getElementById('up').appendChild(opt);
						}
					})
				}
			});


      function getQueryStringValue(key) {
        return decodeURIComponent(
          window.location.search.replace(
            new RegExp(
              "^(?:.*[&\\?]" +
                encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") +
                "(?:\\=([^&]*))?)?.*$",
              "i"
            ),
            "$1"
          )
        );
      }

      function UpdateQueryString(key, value, url) {
        if (!url) url = window.location.href;
        var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
          hash;

        if (re.test(url)) {
          if (typeof value !== "undefined" && value !== null) {
            return url.replace(re, "$1" + key + "=" + value + "$2$3");
          } else {
            hash = url.split("#");
            url = hash[0].replace(re, "$1$3").replace(/(&|\?)$/, "");
            if (typeof hash[1] !== "undefined" && hash[1] !== null) {
              url += "#" + hash[1];
            }
            return url;
          }
        } else {
          if (typeof value !== "undefined" && value !== null) {
            var separator = url.indexOf("?") !== -1 ? "&" : "?";
            hash = url.split("#");
            url = hash[0] + separator + key + "=" + value;
            if (typeof hash[1] !== "undefined" && hash[1] !== null) {
              url += "#" + hash[1];
            }
            return url;
          } else {
            return url;
          }
        }
      }

    var skip=0;

  if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
        // alert('back button!');
        if(localStorage.getItem('skip')!==null){
          var toLoad = Number(localStorage.getItem('skip'));
          console.log('toLoad : ' + toLoad);
          for(let i = 1 ; i <= toLoad; i++){
            $.get(UpdateQueryString('skip',i),function(data){          
              addContent = data;    
              $('#card_items').append(addContent);
              console.log(toLoad + ' ' + i);
              if(i===toLoad){
                window.setTimeout(function(){
            if(!window.document.documentMode){
              //alert('not ie');
              window.scrollTo(200,localStorage.getItem('y'));
            }else{
              //alert('ie');
            }
          },500)
              }
            }); 
          }
          skip = localStorage.getItem('skip');
        }
    }else{
      // remove localstorage skip
      localStorage.clear();
      localStorage.setItem('skip',0);
    }
    
    var loading = false;
    var backFlag = false;

    window.onscroll = function(e) {
      var scrollpos = window.scrollY || window.pageYOffset;
      if((window.innerHeight + scrollpos) >= document.body.offsetHeight-100){
        if(!backFlag && window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD){
          backFlag = true;
        }else{
          localStorage.setItem('y',window.scrollY);
        }
        // do ajax
        if(!loading){
          loading = true;
        var addContent = '';        
        skip++;
        localStorage.setItem('skip',skip);
        $.get(UpdateQueryString('skip',skip),function(data){          
          addContent = data;    
          $('#card_items').append(addContent);
          loading = false;
        });                
        // console.log(skip);
        }
      }
    }

      if (getQueryStringValue("sort") === "price_sell_asc"){
        document.getElementById("price_sell_asc").classList.add("sort_selected");
	  } else if (getQueryStringValue("sort") === "price_sell_desc") {
        document.getElementById("price_sell_desc").classList.add("sort_selected");
	  } else if (getQueryStringValue("sort") === "area_ground_desc") {
        document.getElementById("area_ground_desc").classList.add("sort_selected");
	  } else if (getQueryStringValue("sort") === "area_ground_asc") {
        document.getElementById("area_ground_asc").classList.add("sort_selected");
	  } else if (getQueryStringValue("sort") === "timestamp_modified_desc") {
		document.getElementById("timestamp_modified_desc").classList.add("sort_selected");
	  }

	  // sort 버튼 누르면, 눌려있는거 누르면 제거, 안눌려있는거 누르면 변경
	  	document.getElementById('price_sell_asc').addEventListener('click',function(){
		if(getQueryStringValue('sort')==='price_sell_asc'){
			window.location.href = UpdateQueryString('sort','');
		}else{
			window.location.href = UpdateQueryString('sort','price_sell_asc');
		}
	});

		document.getElementById('price_sell_desc').addEventListener('click',function(){
		if(getQueryStringValue('sort')==='price_sell_desc'){
			window.location.href = UpdateQueryString('sort','');
		}else{
			window.location.href = UpdateQueryString('sort','price_sell_desc');
		}
	});
		document.getElementById('area_ground_desc').addEventListener('click',function(){
		if(getQueryStringValue('sort')==='area_ground_desc'){
			window.location.href = UpdateQueryString('sort','');
		}else{
			window.location.href = UpdateQueryString('sort','area_ground_desc');
		}
	});
		document.getElementById('area_ground_asc').addEventListener('click',function(){
		if(getQueryStringValue('sort')==='area_ground_asc'){
			window.location.href = UpdateQueryString('sort','');
		}else{
			window.location.href = UpdateQueryString('sort','area_ground_asc');
		}
	});
		document.getElementById('timestamp_modified_desc').addEventListener('click',function(){
		if(getQueryStringValue('sort')==='timestamp_modified_desc'){
			window.location.href = UpdateQueryString('sort','');
		}else{
			window.location.href = UpdateQueryString('sort','timestamp_modified_desc');
		}
	  });
    </script>
  </body>
</html>
