<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<%- include('parts/header') %>
		<style>
			#target {
				line-height: 1.7em;
				font-weight: bold;
				font-size: 18px;
			}

			iframe {
				width: 100%;
			}
		</style>
	</head>
	<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
		<!-- <body> -->
		<%- include('parts/mlogoarea') %>
		<div class="mobile_titlebar">
			<% if(data.title==='') { %>
				매물정보
			<% } else { %>
				<%= data.title %>
			<% } %>
		</div>
		<div class="item_address"><%= data.address_si %> <%= data.address_gun %> <%= data.address_up %> <%= data.address_li %></div>
		<% if(data.type!=='land') { %>
			<table class="item_table">
				<tr>
					<td class="item_label">가격</td>
					<td class="item_value red bold" colspan="3">
						<% if(data.price_sell !=0 && data.price_sell) { %>
							매매가 :
							<% if(data.price_sell>=10000) { %>
								<%= Math.floor(data.price_sell/10000)%>억<% if(data.price_sell%10000!=0) { %><%= data.price_sell%10000 %>만<% } %>
							<% } else { %>
								<%= data.price_sell %>만
							<% } %>
						<% } else if (data.price_jeondeposit != 0 && data.price_jeondeposit) { %>
							전세보증금 :
							<% if(data.price_jeondeposit>=10000) { %>
								<%= Math.floor(data.price_jeondeposit/10000)%>억<% if(data.price_jeondeposit%10000!=0) { %><%= data.price_jeondeposit%10000 %>만<% } %>
							<% } else { %>
								<%= data.price_jeondeposit %>만
							<% } %>
							<% if(data.price_borrow != 0) { %>
							/ 융자가 :
							<% if(data.price_borrow>=10000) { %>
								<%= Math.floor(data.price_borrow/10000)%>억<% if(data.price_borrow%10000!=0) { %><%= data.price_borrow%10000 %>만<% } %>
							<% } else { %>
								<%= data.price_borrow %>만
							<% } %>
							<% } %>
						<% } else { %>
							보증금 :
							<% if(data.price_rentdeposit>=10000) { %>
								<%= Math.floor(data.price_rentdeposit/10000)%>억<% if(data.price_rentdeposit%10000!=0) { %><%= data.price_rentdeposit%10000 %>만<% } %>
							<% } else { %>
								<%= data.price_rentdeposit %>만
							<% } %>
							/ 월세 : <%= data.price_rent %>만
						<% } %>
					</td>
				</tr>
				<tr>
					<td class="item_label">진행사항</td>
					<td class="item_value bold">
						<% if(data.contract === 'on') { %>
							<span style="color:green;">계약가능</span>
						<% } else if(data.contract ==='pending') { %>
							<span style="color:black;">계약보류</span>
						<% } else { %>
							<span style="color: red;">계약완료</span>
						<% } %>
					</td>
					<td class="item_label">매물번호</td>
					<td class="item_value"><span style="color:red;font-weight:bold;"><%= data.id %></span></td>
				</tr>
				<tr>
					<td class="item_label">면적</td>
					<td class="item_value">대지면적: <%= Math.floor(data.area_ground2) %>㎡(<%= Math.floor(data.area_ground) %>평)
					<% if(data.area_building!=0 && data.area_building) { %>
					 / 건물면적: <%= Math.floor(data.area_building2) %>㎡(<%= Math.floor(data.area_building) %>평)
					<% } %>
					</td>
					<td class="item_label">방/욕실</td>
					<td class="item_value"><%= data.area_rooms %> / <%= data.area_toilets %></td>
				</tr>
				<tr>
					<td class="item_label">건축구조</td>
					<td class="item_value"><%= data.detail_structure %></td>
					<td class="item_label">난방</td>
					<td class="item_value"><%= data.detail_temperature %></td>
				</tr>
				<tr>
					<td class="item_label">사용승인일</td>
					<td class="item_value"><%= data.detail_date %></td>
					<td class="item_label">방향</td>
					<td class="item_value"><%= data.detail_orientation %></td>
				</tr>
				<tr>
					<td class="item_label">입주가능일</td>
					<td class="item_value"><%= data.move_available_date %></td>
					<td class="item_label"></td>
					<td class="item_value"></td>
				</tr>
				<tr>
					<td class="item_label" style="font-size:11px;font-weight: bold;">담당자</td>
					<td class="item_value bold" id="user_name"><%= user.explanation %></td>
					<td class="item_label" style="font-size:11px;font-weight:bold;">연락처</td>
					<td class="item_value bold" id="user_contact"><%= user.phone %></td>
				</tr>
			</table>
			<% } else { %>
				<table class="item_table">
					<tr>
						<td class="item_label">가격</td>
						<td class="item_value red bold" colspan="3">
								매매가 :
								<% if(data.price_sell>=10000) { %>
									<%= Math.floor(data.price_sell/10000)%>억<% if(data.price_sell%10000!=0) { %><%= data.price_sell%10000 %>만<% } %>
								<% } else { %>
									<%= data.price_sell %>만
								<% } %>
								 / 평당가: <%= data.price_unit %>만
						</td>
					</tr>
					<tr>
						<td class="item_label">진행사항</td>
						<td class="item_value bold">
							<% if(data.contract === 'on') { %>
								<span style="color:green;">계약가능</span>
							<% } else if(data.contract ==='pending') { %>
								<span style="color:black;">계약보류</span>
							<% } else { %>
								<span style="color: red;">계약완료</span>
							<% } %>
						</td>
						<td class="item_label">매물번호</td>
						<td class="item_value"><span style="color:red;font-weight:bold;"><%= data.id %></span></td>
					</tr>
					<tr>
						<td class="item_label">면적</td>
						<td class="item_value" colspan="3">대지면적: <%= Math.floor(data.area_ground2) %>㎡(<%= Math.floor(data.area_ground) %>평)
						<% if(data.area_building!=0 && data.area_building) { %>
						 / 건물면적: <%= Math.floor(data.area_building2) %>㎡(<%= Math.floor(data.area_building) %>평)
						<% } %>
						</td>
					</tr>
					<tr>
						<td class="item_label">추천용도</td>
						<td class="item_value"><%= data.area_recommended %></td>
						<td class="item_label">용도지역</td>
						<td class="item_value"><%= data.area_use %></td>
					</tr>
					<tr>
						<td class="item_label">지목</td>
						<td class="item_value" colspan="3"><%= data.area_using %></td>
					</tr>
					<tr>
						<td class="item_label">담당자</td>
						<td class="item_value bold" id="user_name"><%= user.explanation %></td>
						<td class="item_label">연락처</td>
						<td class="item_value bold" id="user_contact"><%= user.phone %></td>
					</tr>
				</table>
			<% } %>
		<div class="mobile_titlebar">
			상세정보
		</div>
		<div class="item_detail_text" id="target">
			<%= data.detail %>
			<p>
				상호명 : 소나무공인중개사사무소</br>
				대표자 : 최기혁</br>
				소재지 : 경기도 양평군 강하면 강남로 354</br>
				연락처 : 031-773-5900</br>
				등록번호 : 41830-2016-00045</br>
			</p>
		</div>
		<div class="mitem_images">
			<% for(let i = 0 ; i < data.image.length ; i++) { %>
				<img style="max-width: 100%" src="images<%= data.image[i] %>">
			<% } %>
		</div>
		<footer>
			<%- include('parts/footer_mobile',{id: data._id }) %>
		</footer>
		<script>
			let target = document.getElementById('target');
			target.innerHTML = target.innerHTML.replace(/#8203;/gi,'').replace(/&gt;/gi,'>').replace(/&lt;/gi,'<').replace(/&amp;/gi,'&nbsp;').replace(/amp;/gi,'');
		</script>
	</body>
</html>
