<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<%- include('parts/header') %>

	<style>
		#id{
		  background-color: lightgoldenrodyellow;
		}
	  </style>
</head>

<!-- <body  oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>  -->
	<body>
	<%- include('parts/mlogoarea') %>
		<div style="display:none;" id="preData"><%= fillSearchBox %></div>
		<div class="top_button" id="top_button"><i class="far fa-caret-square-up"></i></div>
		<div style="width:100%;max-width:900px;margin:auto;margin-top:-4px;">
			<div class="sidebar_category"
				style="width:100%;margin-bottom:8px;padding-bottom:5px;">
				<div class="sidebar_title" style="margin-bottom:5px;">간편메뉴</div>
				<div style="display:flex;flex-wrap:wrap;padding-right:12px;">
				<a href="/m?category=house"><button class="searchButton mButton">전원주택</button></a>
				<a href="/m?category=affordable"><button class="searchButton mButton">3억 이하</button></a>
				<a href="/m?category=midprice"><button class="searchButton mButton">3억 ~ 6억</button></a>
				<a href="/m?category=highprice"><button class="searchButton mButton">6억 ~ 10억</button></a>
				<a href="/m?category=luxury"><button class="searchButton mButton">10억 이상</button></a>
				</div>				
				<div style="display:flex;flex-wrap:wrap;padding-right:12px;">
				<a href="/m?category=land"><button class="searchButton2 mButton">토지</button></a>
				<a href="/m?category=affordable_land"><button class="searchButton2 mButton">2억 이하</button></a>
				<a href="/m?category=midprice_land"><button class="searchButton2 mButton">2억 ~ 5억</button></a>
				<a href="/m?category=highprice_land"><button class="searchButton2 mButton">5억 이상</button></a>
				</div>
			</div>
			<div class="list_search" style="padding-bottom:0px;">
				<div style="width: 100%">
					<div id="detail_search" class="list_search_title closed" style="margin-bottom:0px;">상세검색<i
							style="position:relative;left:10px;top:0px;color:#333;"
							class="fas fa-angle-double-down" id="detail_icon"></i></div>
					<div id="detail_search_content" class="mobile_search">
						<form action="/m" method="POST">
							<div class="mobile_search_content">								
								<div style="display:flex;flex: 0 0 100%;">
									<div class="mobile_search_title">통합검색</div>
									<div class="mobile_search_items mobile_left">
										<input style="width:150px;" type="text" name="title">
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;padding-right:5px;">
									<div class="mobile_search_title">매물종류</div>
									<div class="mobile_search_items">
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="type" id="house" value="house"><label for="house">전원주택/별장/농가주택/펜션</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="type" id="land" value="land"><label for="land">토지/농막</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="type" id="consumer" value="consumer"><label for="consumer">상가/모텔/빌딩</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="type" id="rent" value="rent"><label for="rent">전월세</div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;">
									<div class="mobile_search_title">가격</div>
									<div class="mobile_search_items">
										<div class="mobile_left">
											<input class="searchinput" type="number" id="price_low" name="price_low"> 만원 ~ <input
												class="searchinput" type="number" id="price_high" name="price_high"> 만원
										</div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;">
									<div class="mobile_search_title">토지면적</div>
									<div class="mobile_search_items">
										<div class="mobile_left">
											<input class="searchinput" type="number" id="area_ground_low" name="area_ground_low"> 평 ~ <input
												class="searchinput" type="number" id="area_ground_high" name="area_ground_high"> 평
										</div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;">
									<div class="mobile_search_title">건물면적</div>
									<div class="mobile_search_items">
										<div class="mobile_left">
											<input class="searchinput" type="number" id="area_building_low" name="area_building_low"> 평 ~
											<input class="searchinput" type="number" id="area_building_high" name="area_building_high"> 평
										</div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;padding-right:5px;">
									<div class="mobile_search_title">지역</div>
									<div class="mobile_search_items">
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="gangha" value="강하면"><label for="gangha">강하면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="gangsang" value="강상면"><label for="gangsang">강상면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="yangpeong" value="양평읍"><label for="yangpeong">양평읍</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="okcheon" value="옥천면"><label for="okcheon">옥천면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="yangseo" value="양서면"><label for="yangseo">양서면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="seojong" value="서종면"><label for="seojong">서종면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="yongmun" value="용문면"><label for="yongmun">용문면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="jipeong" value="지평면"><label for="jipeong">지평면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="gaegun" value="개군면"><label for="gaegun">개군면</div>
												<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
													name="location" id="toechon" value="퇴촌면"><label for="toechon">퇴촌면</div>
													<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
														name="location" id="namjong" value="남종면"><label for="namjong">남종면</div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="location" id="else" value="기타지역"><label for="else">기타지역</div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;padding-right:5px;">
									<div class="mobile_search_title">옵션</div>
									<div class="mobile_search_items">
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="landscape" value="landscape"><label for="landscape">조경우수<span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="scene" value="scene"><label for="scene">경관우수<span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="river" value="river"><label for="river">강조망<span style="color:white;">강</span><span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="south" value="south"><label for="south">남향<span style="color:white;">강</span><span style="color:white;">강</span><span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="mountainside" value="mountainside"><label for="mountainside">산자락<span style="color:white;">강</span><span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="private" value="private"><label for="private">사생활보호</label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="school" value="school"><label for="school">학교인근<span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="valley" value="valley"><label for="valley">계곡인접<span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="subway" value="subway"><label for="subway">지하철도보</label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="flatland" value="flatland"><label for="flatland">평지<span style="color:white;">강</span><span style="color:white;">강</span><span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="complex" value="complex"><label for="complex">단지형<span style="color:white;">강</span><span style="color:white;">강</span></label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="theme" id="traditional" value="traditional"><label for="traditional">한옥<span style="color:white;">강</span><span style="color:white;">강</span><span style="color:white;">강</span></label></div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;">
									<div class="mobile_search_title">건축구조</div>
									<div class="mobile_search_items">
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="recommended" id="cheol" value="철근콘크리트"><label for="cheol">철근콘크리트</label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="recommended" id="mok" value="일반목구조"><label for="mok">목조(목구조)</label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="recommended" id="jo" value="조적조"><label for="jo">벽돌(조적조, 연와조, 벽돌구조, 시멘트벽돌 등)</label></div>
										<div class="mobile_button"><input class="locationCheckbox" type="checkbox"
												name="recommended" id="else2" value="기타"><label for="else2">기타</label></div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="display:flex;flex: 0 0 100%;justify-content:left">
									<div class="mobile_search_title">매물번호</div>
									<div class="mobile_search_items">
										<div class="mobile_left">
											<input class="searchinput_text mobile_left" type="text" id="id" name="id">
										</div>
									</div>
								</div>
								<div class="mobile_divider">
									<div class="mobile_divider_2"></div>
								</div>
								<div style="margin: auto; display: block; margin-top: -7px;width:258px;">
								<input type="submit" style="position:relative;top:0px;margin-left:0px;" value="매물검색" class="search_submit">
								<button type="button" onclick="reset()" class="search_reset">초기화</button>
								</div>
						</form>

					</div>
				</div>
			</div>			
		</div>
		<div class="mobile_titlebar">
			<%= listType %>
		</div>
		<div class="mobile_cards" id="card_items">
			<% for(let i = 0 ; i < data.length ; i++) { %>
				<%- include('parts/mcard.ejs', {data: data[i]}) %>
			<% } %>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			function reset(){
				var checkboxes = document.getElementsByClassName('locationCheckbox');
				for(var i = 0 ; i < checkboxes.length ; i++){
				checkboxes[i].checked = false;
				}
				document.getElementById('id').value = '';
				document.getElementById('price_low').value = '';
				document.getElementById('price_high').value = '';
				document.getElementById('area_ground_low').value = '';
				document.getElementById('area_ground_high').value = '';
				document.getElementById('area_building_low').value = '';
				document.getElementById('area_building_high').value = '';
      		}


			       function findMatch(change, input){
          for(var i = 0 ; i < change.length ; i++){
            if(change[i][0]===input){
              return change[i][1];
            }
          }
          return 'none';
        }

        var preData = JSON.parse(document.getElementById('preData').innerHTML);
        if(preData.id) document.getElementById('id').value = preData.id;
        document.getElementById('price_low').value = preData.price_low;
        document.getElementById('price_high').value = preData.price_high;
        document.getElementById('area_ground_low').value = preData.area_ground_low;
        document.getElementById('area_ground_high').value = preData.area_ground_high;
        document.getElementById('area_building_low').value = preData.area_building_low;
        document.getElementById('area_building_high').value = preData.area_building_high;
        if(typeof preData.location !== 'undefined'){
          var change = [['퇴촌면','toechon'],['남종면','namjong'],['강하면','gangha'],['강상면','gangsang'],['양평읍','yangpeong'],['옥천면','okcheon'],['양서면','yangseo'],['서종면','seojong'],['용문면','yongmun'],['지평면','jipeong'],['개군면','gaegun'],['기타지역','else']];
          if(typeof preData.location === 'string'){
            document.getElementById(findMatch(change,preData.location)).checked = true;
          }else{
            for(var i = 0 ; i < preData.location.length; i++){
              document.getElementById(findMatch(change,preData.location[i])).checked = true;
            }
          }
        }

        if(typeof preData.type !== 'undefined'){
          if(typeof preData.type === 'string'){
            document.getElementById(preData.type).checked = true;
          }else{
            for(var i = 0 ; i < preData.type.length ; i++){
              document.getElementById(preData.type[i]).checked = true;
            }
          }
        }

        if(typeof preData.theme !== 'undefined'){
          if(typeof preData.theme === 'string'){
            document.getElementById(preData.theme).checked = true;
          }else{
            for(var i = 0 ; i < preData.theme.length ; i++){
              document.getElementById(preData.theme[i]).checked = true;
            }
          }
        }

        if(typeof preData.recommended !== 'undefined'){
          var change2 = [['철근콘크리트','cheol'],['일반목구조','mok'],['조적조','jo'],['기타','else2']];
          if(typeof preData.recommended === 'string'){
            document.getElementById(findMatch(change2,preData.recommended)).checked = true;
          }else{
            for(var i = 0 ; i < preData.recommended.length ; i++){
              document.getElementById(findMatch(change2,preData.recommended[i])).checked = true;
            }
          }
        }


			document.getElementById('top_button').addEventListener('click',function(){
				$('html, body').animate({scrollTop: 0}, 500);
			})

      function UpdateQueryString(key, value, url) {
        if (!url) url = window.location.href;
        var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
          hash;

        if (re.test(url)) {
          if (typeof value !== "undefined" && value !== null) {
            return url.replace(re, "$1" + key + "=" + value + "$2$3");
          } else {
            hash = url.split("#");
            url = hash[0].replace(re, "$1$3").replace(/(&|\?)$/, "");
            if (typeof hash[1] !== "undefined" && hash[1] !== null) {
              url += "#" + hash[1];
            }
            return url;
          }
        } else {
          if (typeof value !== "undefined" && value !== null) {
            var separator = url.indexOf("?") !== -1 ? "&" : "?";
            hash = url.split("#");
            url = hash[0] + separator + key + "=" + value;
            if (typeof hash[1] !== "undefined" && hash[1] !== null) {
              url += "#" + hash[1];
            }
            return url;
          } else {
            return url;
          }
        }
      }

			var clicked = false;
			document.getElementById('detail_search').addEventListener('click',function(){
				//document.getElementById('detail_search_content').style.
				if(!clicked){
					document.getElementById('detail_icon').style.transform = 'rotate(180deg)';
					document.getElementById('detail_search').classList.remove('closed');
					document.getElementById('detail_search_content').style.maxHeight = document.getElementById('detail_search_content').scrollHeight + 'px';
				}else{
					document.getElementById('detail_icon').style.transform = '';
					document.getElementById('detail_search').classList.add('closed');
					document.getElementById('detail_search_content').style.maxHeight = null;
				}
				clicked = clicked===true? false : true;
			})

			var skip=0;

if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
	  // alert('back button!');
	  if(localStorage.getItem('skip')!==null){
		var toLoad = Number(localStorage.getItem('skip'));
		console.log('toLoad : ' + toLoad);
		for(let i = 1 ; i <= toLoad; i++){
		  $.get(UpdateQueryString('skip',i),function(data){          
			addContent = data;    
			$('#card_items').append(addContent);
			console.log(toLoad + ' ' + i);
			if(i===toLoad){
			  window.setTimeout(function(){
		  if(!window.document.documentMode){
			//alert('not ie');
			window.scrollTo(200,localStorage.getItem('y'));
		  }else{
			//alert('ie');
		  }
		},500)
			}
		  }); 
		}
		skip = localStorage.getItem('skip');
	  }
  }else{
	// remove localstorage skip
	localStorage.clear();
	localStorage.setItem('skip',0);
  }
  
  var loading = false;
  var backFlag = false;

  window.onscroll = function(e) {
	var scrollpos = window.scrollY || window.pageYOffset;
	if((window.innerHeight + scrollpos) >= document.body.offsetHeight-100){
	  if(!backFlag && window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD){
		backFlag = true;
	  }else{
		localStorage.setItem('y',window.scrollY);
	  }
	  // do ajax
	  if(!loading){
		loading = true;
	  var addContent = '';        
	  skip++;
	  localStorage.setItem('skip',skip);
	  $.get(UpdateQueryString('skip',skip),function(data){          
		addContent = data;    
		$('#card_items').append(addContent);
		loading = false;
	  });                
	  // console.log(skip);
	  }
	}
  }
		</script>
</body>

</html>