<!DOCTYPE html>
<html>

<head>
	<%- include('parts/header') %>
	<script src="https://cdn.tiny.cloud/1/jywrs1th1xlg376cn6oruuf2oogy6cpatq0r9px4a8ppt30p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
		tinymce.init({
		  selector: '#detail',
		  plugins: 'media, table',
		  menubar: 'insert, table',
		  toolbar: 'undo redo bold italic underline fontsizeselect media table forecolor alignleft aligncenter alignright',
		  statusbar: false,
		  fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt 48pt',
		  height: '400px',
		});
		tinymce.init({
		  selector: '#gallery',
		  plugins: 'media, table',
		  menubar: 'insert, table',
		  toolbar: 'undo redo bold italic underline fontsizeselect media table forecolor alignleft aligncenter alignright',
		  statusbar: false,
		  fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt 48pt',
		  height: '400px',
		});
	  </script>
	  <link rel="stylesheet" href="/css/register.css" type="text/css">
</head>

<body>
	<%- include('parts/adminnavbar') %>
	<h3>매물등록</h3>
	<hr color="black">
	<form id="mainForm" action="/register" method="POST">
		▷ 매물등록 &nbsp;
		<select id="type" name="type">
			<option value="house">전원주택/별장/농가주택/펜션</option>
			<option value="land">토지/농막</option>
			<option value="consumer">상가/모텔/빌딩</option>
			<option value="rent">전월세</option>
			<option value="factory">창고/공장</option>
			<option value="villa">아파트/빌라</option>
		</select>
		<select id="sell" name="sell">
			<option id="sell" value="sell">매매</option>
			<option id="jeon" value="jeon">전세</option>
			<option id="rent" value="rent">월세</option>
		</select>
		<div class="seperator"></div>		
		<table class="table_normal">
			<tr>
				<td>공유상태</td>
				<td>
					<input type="radio" name="share" value="Y" checked />ON
					<input type="radio" name="share" value="N" />OFF
				</td>
				<td>광고상태</td>
				<td>
					<input type="radio" name="adon" value="Y" />ON
					<input type="radio" name="adon" value="N" checked />OFF
				</td>
				<td>계약상태</td>
				<td>
					<select name="contract">
						<option value="on">계약진행</option>
						<option value="pending">계약보류</option>
						<option value="complete">계약완료</option>
					</select>
				</td>
			</tr>
		</table>
		<div style="margin:5px;"></div>
		<div style="display:flex;">
			<div>
		<table style="width:600px;margin-right:5px;">
			<tr>
				<td style="background-color: yellow;width:90px;">아이콘선택</td>
				<td style="background-color: #FFFFCC" colspan="3">
					<input type="radio" name="icon" value="recommend" />추천
					<input type="radio" name="icon" value="valley" />계곡인접
					<input type="radio" name="icon" value="garden" />넓은정원
					<input type="radio" name="icon" value="urgent" />급매
					<input type="radio" name="icon" value="national" />국유지
					<input type="radio" name="icon" value="best" />Best
					<input type="radio" name="icon" value="remodel" />리모델링
					<input type="radio" name="icon" value="outbuilding" />별채
					<input type="radio" name="icon" value="interior" />인테리어
					<input type="radio" name="icon" value="luxury" />럭셔리
					<input type="radio" name="icon" value="done" />계약완료
					<input type="radio" name="icon" value="almost" />계약임박
					<input type="radio" name="icon" value="new" />신축
					<input type="radio" name="icon" value="not_used" />사용안함
				</td>
			</tr>
			<tr>
				<td style="background-color: brown;">광고종류</td>
				<td colspan="3">
					<input type="checkbox" name="ad" value="gallery" />갤러리매물
					<input type="checkbox" name="ad" value="recommended" />추천매물
					<input type="checkbox" name="ad" value="urgent" />급매물
					<input type="checkbox" name="ad" value="premium" />프리미엄매물
					<input type="checkbox" name="ad" value="new" />신규매물
					<input type="checkbox" name="ad" value="theme" />테마
					<input type="checkbox" name="ad" value="land" />토지
				</td>
			</tr>
			<tr>
				<td>테마선택</td>
				<td colspan="3">
					<input type="checkbox" name="theme" value="landscape" />조경우수
					<input type="checkbox" name="theme" value="scene" />경관우수
					<input type="checkbox" name="theme" value="river" />강조망
					<input type="checkbox" name="theme" value="south" />남향
					<input type="checkbox" name="theme" value="mountainside" />산자락
					<input type="checkbox" name="theme" value="private" />사생활보호
					<input type="checkbox" name="theme" value="school" />학교인근
					<input type="checkbox" name="theme" value="valley" />계곡인접
					<input type="checkbox" name="theme" value="subway" />지하철도보
					<input type="checkbox" name="theme" value="flatland" />평지
					<input type="checkbox" name="theme" value="complex" />단지형
					<input type="checkbox" name="theme" value="traditional"/>한옥
				</td>
			</tr>
			<tr>
				<td>담당자</td>
				<td colspan="3">
					<select name="user">
						<% for(let i = 1 ; i < user.length ; i++) { %>
						<option value="<%= user[i].name %>"><%= user[i].explanation %> (<%=user[i].name %>)</option>
						<% } %>
					</select>
				</td>
			</tr>
			<tr>
				<td>매물번호</td>
				<td colspan="3">
					<input type="text" name="id_letter" />
					<input type="text" name="id_number" />
					<input type="checkbox" name="randomId" />
					자동생성
				</td>
			</tr>
			<tr>
				<td>광고제목</td>
				<td colspan="3">
					<input type="text" style="width:350px;" name="title" />
				</td>
			</tr>
			<tr>
				<td>광고주소</td>
				<td colspan="3">
					<input type="text" name="address_si" value="경기" placeholder="시/도" />
					<input type="text" name="address_gun" value="양평군" placeholder="군" />
					<input type="text" name="address_up" placeholder="읍/면/동" />
					<input type="text" name="address_li" placeholder="리" />
					<br />
					<input type="text" name="address_bunji1" />
					-
					<input type="text" name="address_bunji2" />
					번지
				</td>
			</tr>
			<tr id="1">
				<td>대지면적</td>
				<td colspan="3">
					<input type="number" step="0.001" name="area_ground" /> py (
					<input type="number" step="0.001" name="area_ground2" />m2 )
				</td>
			</tr>
			<tr id="2">
				<td>건물연면적</td>
				<td colspan="3">
					<input type="number" step="0.001" name="area_building" /> py (
					<input type="number" step="0.001" name="area_building2" />m2 )
				</td>
			</tr>
			<tr id="3">
				<td>방 수</td>
				<td>
					<input type="number" step="0.001" name="area_rooms" /> 개
				</td>
				<td>욕실수</td>
				<td>
					<input type="number" step="0.001" name="area_toilets" /> 개
				</td>
			</tr>
			<tr id="4" style="display:none;">
				<td>추천용도</td>
				<td>
					<input type="text" name="area_recommended" />
				</td>
				<td>용도지역</td>
				<td>
					<input type="text" name="area_use" />
				</td>
			</tr>
			<tr id="5" style="display:none;">
				<td>지목</td>
				<td>
					<input type="text" name="area_using" />
				</td>
				<td>방향</td>
				<td>
					<select name="area_orientation" />
					<option value="남향" />남향</option>
					<option value="남동향" />남동향</option>
					<option value="남서향" />남서향</option>
					<option value="북향" />북향</option>
					<option value="북서향" />북서향</option>
					<option value="북동향" />북동향</option>
					<option value="동향" />동향</option>
					<option value="서향" />서향</option>
					</select>
				</td>
			</tr>
			<tr id="6" style="display:none;">
				<td>용적률</td>
				<td>
					<input type="number" step="0.001" name="area_yong" />
				</td>
				<td>건폐율</td>
				<td>
					<input type="number" step="0.001" name="area_gun" />
				</td>
			</tr>
			<tr id="7" style="display:none;">
				<td>접근도로</td>
				<td>
					<input type="text" name="area_road" />
				</td>
				<td>주요도로</td>
				<td>
					<input type="text" name="area_mainroad" />
				</td>
			</tr>
		</table>
		</div>
		<div class="display:flex;flex-direction:column;">
		<div>
		<table style="width:500px;" border="1">
			<tr id="21">
				<td width="100px;">매매가</td>
				<td>
					<input type="number" step="0.001" name="price_sell" /> 만원
				</td>
			</tr>
			<tr id="22" style="display:none;">
				<td width="100px;">전세보증금</td>
				<td>
					<input type="number" step="0.001" name="price_jeondeposit" /> 만원
				</td>
			</tr>
			<tr id="23">
				<td>융자가</td>
				<td>
					<input type="number" step="0.001" name="price_borrow" /> 만원
				</td>
			</tr>
			<tr id="24" style="display:none;">
				<td width="100px;">월세보증금</td>
				<td>
					<input type="number" step="0.001" name="price_rentdeposit" /> 만원
				</td>
			</tr>
			<tr id="25" style="display:none;">
				<td>월세</td>
				<td>
					<input type="number" step="0.001" name="price_rent" /> 만원
				</td>
			</tr>
			<tr id="26" style="display:none;">
				<td>보증금</td>
				<td>
					<input type="number" step="0.001" name="price_deposit" /> 만원
				</td>
			</tr>
			<tr id="27" style="display:none;">
				<td width="100px;">순익</td>
				<td>
					월순익: <input type="number" step="0.001" name="price_monthly" />% /
					년순익: <input type="number" step="0.001" name="price_yearly" /> %
				</td>
			</tr>
			<tr id="28" style="display:none;">
				<td>수익률</td>
				<td>
					<input type="number" step="0.001" name="price_margin" /> %
				</td>
			</tr>
			<tr id="29" style="display:none;">
				<td>공시지가</td>
				<td>
					<input type="number" step="0.001" name="price_published" />
				</td>
			</tr>
			<tr id="30">
				<td>현전세</td>
				<td>
					<input type="number" step="0.001" name="price_jeon" /> 만원
				</td>
			</tr>
			<tr id="300" style="display:none;">
				<td>평단가</td>
				<td>
					<input type="number" step="0.001" name="price_unit" /> 만원
				</td>
			</tr>
		</table>
		</div>
		<div style="margin:5px;"></div>
		<div id="current">
			<table style="width:500px;" border="1">
				<tr id="31">
					<td width="100px;">냉난방방식</td>
					<td>
						<input type="text" name="detail_temperature" />
					</td>
				</tr>
				<tr id="32">
					<td>방향</td>
					<td>
						<input type="text" name="detail_orientation" />
					</td>
				</tr>
				<tr id="33">
					<td>건축구조</td>
					<td>
						<input type="text" name="detail_structure" />
					</td>
				</tr>
				<tr id="34">
					<td>준공년도</td>
					<td>
						<input type="text" name="detail_date" />
					</td>
				</tr>
				<tr id="35" style="display:none">
					<td>인테리어</td>
					<td>
						<input type="radio" name="detail_interior" value="Y" />YES
						<input type="radio" name="detail_interior" value="N" checked />NO
					</td>
				</tr>
				<tr id="36" style="display:none">
					<td>엘리베이터</td>
					<td>
						<input type="text" name="detail_elevator" />
					</td>
				</tr>
				<tr id="37" style="display:none">
					<td>용도지역</td>
					<td>
						<input type="text" name="detail_use" />
					</td>
				</tr>
				<tr id="38" style="display:none">
					<td>사용승인일</td>
					<td>
						<input type="text" name="detail_approval" />
					</td>
				</tr>
				<tr id="39" style="display:none">
					<td>주차</td>
					<td>
						방식: <input type="text" name="detail_parking" />
						/ 대수: <input type="text" name="detail_parking2" />
					</td>
				</tr>
				<tr id="40" style="display:none">
					<td>전화가용수</td>
					<td>
						<input type="text" name="detail_phone" />
					</td>
				</tr>
			</table>
		</div>
		</div>
		</div>
		<div style="display:flex;">
		<div style="margin-top:5px;width:600px;">
			<div style="background-color: brown;color:white;padding:5px;">
			<h4 style="margin:0px;">특징설명(광고용)</h4>
			</div>
			<div style="margin:5px;"></div>
			<textarea name="detail" id="detail"></textarea>
		</div>
		<div style="margin-top:5px;width:600px;">
			<div style="background-color: brown;color:white;padding:5px;">
			<h4 style="margin:0px;">갤러리설명</h4>
			</div>
			<div style="margin:5px;"></div>
			<textarea name="gallery" id="gallery"></textarea>
		</div>
		</div>
		<div style="margin-top:5px;">
			<div style="background-color: brown;color:white;padding:5px; margin-bottom:5px;">
				<h4 style="margin:0px;">광고용이미지</h4>
			</div>
			<input type="file" id="uploadBox" name="uploadBox" multiple>
    		<div id="imagecontainer"></div>
		</div>
		</div>
		<div style="margin-top:5px;">
			<div style="background-color: brown;color:white;padding:5px; margin-bottom:5px;">
				<h4 style="margin:0px;">특징설명 (관리자용)</h4>
			</div>
			<textarea name="memo" style="width:600px;height:180px;"></textarea>
		</div>
		<div style="margin-top:5px;">
			<div style="background-color: brown;color:white;padding:5px; margin-bottom:5px;">
				<h4 style="margin:0px;">관리자이미지</h4>
			</div>
			<input type="file" id="uploadBox2" name="uploadBox2" multiple>
    		<div id="imagecontainer2"></div>
		</div>
	</form>
	<button onclick="submitHandler()">제출</button>
	<footer>
		<%- include('parts/footer2') %>
	</footer>
</body>
<script>
    let imageCount = 0;
	let uploadFilelist = [];
	let imageCount2 = 0;
	let uploadFilelist2 = [];

    document.getElementById('uploadBox').addEventListener('change',function(){
        // extract files and make element, assign file to element input, assign picture to image
        // console.log(this.files);
        if(this.files){
            for(var i = 0 ; i < this.files.length ; i++){
                addElement();
                const reader = new FileReader();
                var imageee = document.getElementById('preview'+(imageCount-1));
                reader.onload = (function(aImg){ return function(e){aImg.src=e.target.result;};})(imageee);
                reader.readAsDataURL(this.files[i]);
                uploadFilelist.push(this.files[i]);
            }
            // console.log(uploadFilelist);
        }
	});
	
	document.getElementById('uploadBox2').addEventListener('change',function(){
        // extract files and make element, assign file to element input, assign picture to image
        // console.log(this.files);
        if(this.files){
            for(var i = 0 ; i < this.files.length ; i++){
                addElement2();
                const reader = new FileReader();
                var imageee = document.getElementById('2preview'+(imageCount2-1));
                reader.onload = (function(aImg){ return function(e){aImg.src=e.target.result;};})(imageee);
                reader.readAsDataURL(this.files[i]);
                uploadFilelist2.push(this.files[i]);
            }
            // console.log(uploadFilelist);
        }
    });

    function submitHandler(){
        var xhr = new XMLHttpRequest();
        xhr.open("POST",'/registerimage',true);
        var form_data = new FormData();
        for(let i = 0 ; i < uploadFilelist.length; i++){
            form_data.append('image',uploadFilelist[i]);
        }
		xhr.send(form_data);

		var xhr2 = new XMLHttpRequest();
        xhr2.open("POST",'/registerimage2',true);
        var form_data2 = new FormData();
        for(let i = 0 ; i < uploadFilelist2.length; i++){
            form_data2.append('image',uploadFilelist2[i]);
        }
		xhr2.send(form_data2);

		document.getElementById('mainForm').submit();
    }

    function insertAfter(referenceNode, newNode) {
      referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    Element.prototype.remove = function() {
    this.parentElement.removeChild(this);
    }
    NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
        for(var i = this.length - 1; i >= 0; i--) {
            if(this[i] && this[i].parentElement) {
                this[i].parentElement.removeChild(this[i]);
            }
        }
    }

    function addElement(){
        var divv = document.createElement('div');
        divv.id='divv'+imageCount;
        divv.classList.add('uploadDiv');
        var div2 = document.createElement('div');
        div2.innerHTML = imageCount;
        div2.style.display = 'none';
        divv.appendChild(div2);
        var imagee = document.createElement('img');
        imagee.src = '/assets/empty.gif';
        imagee.classList.add('uploadimage');
        imagee.id = 'preview' + imageCount;
        divv.appendChild(imagee);
        divv.appendChild(document.createElement('br'));
        var leftButton = document.createElement('button');
        var rightButton = document.createElement('button');
        var deleteButton = document.createElement('button');
        leftButton.innerHTML = '<';
        leftButton.type = 'button';
        leftButton.style.marginRight = '5px';
        rightButton.style.marginRight = '5px';
        rightButton.innerHTML = '>';
        rightButton.type = 'button';
        deleteButton.innerHTML = '삭제';
        deleteButton.type = 'button';
        leftButton.addEventListener('click',function(){
            leftHandler(div2.innerHTML);
        });
        rightButton.addEventListener('click',function(){
            rightHandler(div2.innerHTML);
        })
        deleteButton.addEventListener('click',function(){
            deleteHandler(div2.innerHTML);
        })
        divv.appendChild(leftButton);
        divv.appendChild(rightButton);
        divv.appendChild(deleteButton);
        document.getElementById('imagecontainer').appendChild(divv);
        imageCount++;
	}
	
	function addElement2(){
        var divv = document.createElement('div');
        divv.id='2divv'+imageCount2;
        divv.classList.add('uploadDiv');
        var div2 = document.createElement('div');
        div2.innerHTML = imageCount2;
        div2.style.display = 'none';
        divv.appendChild(div2);
        var imagee = document.createElement('img');
        imagee.src = '/assets/empty.gif';
        imagee.classList.add('uploadimage');
        imagee.id = '2preview' + imageCount2;
        divv.appendChild(imagee);
        divv.appendChild(document.createElement('br'));
        var leftButton = document.createElement('button');
        var rightButton = document.createElement('button');
        var deleteButton = document.createElement('button');
        leftButton.innerHTML = '<';
        leftButton.type = 'button';
        leftButton.style.marginRight = '5px';
        rightButton.style.marginRight = '5px';
        rightButton.innerHTML = '>';
        rightButton.type = 'button';
        deleteButton.innerHTML = '삭제';
        deleteButton.type = 'button';
        leftButton.addEventListener('click',function(){
            leftHandler2(div2.innerHTML);
        });
        rightButton.addEventListener('click',function(){
            rightHandler2(div2.innerHTML);
        })
        deleteButton.addEventListener('click',function(){
            deleteHandler2(div2.innerHTML);
        })
        divv.appendChild(leftButton);
        divv.appendChild(rightButton);
        divv.appendChild(deleteButton);
        document.getElementById('imagecontainer2').appendChild(divv);
        imageCount2++;
    }

    var getSiblings = function (elem) {

        // Setup siblings array and get the first sibling
        var siblings = [];
        var sibling = elem.firstChild;

        // Loop through each sibling and push to the array
        while (sibling) {
            if (sibling.nodeType === 1 && sibling !== elem) {
                siblings.push(sibling);
            }
            sibling = sibling.nextSibling
        }

        return siblings;

    };

    function getCurrentIndex(index){
        var result = 0;
        var siblings = getSiblings(document.getElementById('imagecontainer'));
        for(var i = 0 ; i < siblings.length ; i++){
            if(siblings[i].id==='divv'+index){
                return i;
            }
        }
        return -1; 
	}
	
	function getCurrentIndex2(index){
        var result = 0;
        var siblings = getSiblings(document.getElementById('imagecontainer2'));
        for(var i = 0 ; i < siblings.length ; i++){
            if(siblings[i].id==='2divv'+index){
                return i;
            }
        }
        return -1; 
    }

    function leftHandler2(index){
        // console.log('leftHandler ' + index);
        if(document.getElementById('divv'+index).previousSibling===null){
            return;
        }
        uploadFilelist.splice(getCurrentIndex(index)-1,0,uploadFilelist[getCurrentIndex(index)]);
        uploadFilelist.splice(getCurrentIndex(index)+1,1);
        document.getElementById('imagecontainer').insertBefore(document.getElementById('divv'+index),document.getElementById('divv'+index).previousSibling);
        // console.log(getCurrentIndex(index));
	}
	
	function leftHandler2(index){
        // console.log('leftHandler ' + index);
        if(document.getElementById('2divv'+index).previousSibling===null){
            return;
        }
        uploadFilelist2.splice(getCurrentIndex2(index)-1,0,uploadFilelist2[getCurrentIndex2(index)]);
        uploadFilelist2.splice(getCurrentIndex2(index)+1,1);
        document.getElementById('imagecontainer2').insertBefore(document.getElementById('2divv'+index),document.getElementById('2divv'+index).previousSibling);
        // console.log(getCurrentIndex(index));
    }

    function rightHandler(index){
        // console.log('rightHandler ' + index);
        if(document.getElementById('divv'+index).nextSibling===null){
            return;
        }
        uploadFilelist.splice(getCurrentIndex(index)+2,0,uploadFilelist[getCurrentIndex(index)]);
        uploadFilelist.splice(getCurrentIndex(index),1);
        // console.log(uploadFilelist);
        insertAfter(document.getElementById('divv'+index).nextSibling,document.getElementById('divv'+index))
	}
	
	function rightHandler2(index){
        // console.log('rightHandler ' + index);
        if(document.getElementById('2divv'+index).nextSibling===null){
            return;
        }
        uploadFilelist2.splice(getCurrentIndex2(index)+2,0,uploadFilelist2[getCurrentIndex2(index)]);
        uploadFilelist2.splice(getCurrentIndex2(index),1);
        // console.log(uploadFilelist);
        insertAfter(document.getElementById('2divv'+index).nextSibling,document.getElementById('2divv'+index))
    }

    function deleteHandler(index){
        // console.log('deleteHandler ' + index);
        uploadFilelist.splice(getCurrentIndex(index),1);
        document.getElementById('divv'+index).remove();
        //console.log(uploadFilelist);
	}
	
	function deleteHandler2(index){
        // console.log('deleteHandler ' + index);
        uploadFilelist.splice(getCurrentIndex2(index),1);
        document.getElementById('2divv'+index).remove();
        //console.log(uploadFilelist);
    }

	var selectType = document.getElementById('type');
	var selectSell = document.getElementById('sell');

	function changes() {
		if (selectType.value === 'house' || selectType.value === 'factory' || selectType.value === 'villa') {
			if (selectSell.value === 'sell') {
				document.getElementById('21').style.display = "";
				document.getElementById('22').style.display = "none";
				document.getElementById('23').style.display = "";
				document.getElementById('24').style.display = "none";
				document.getElementById('25').style.display = "none";
				document.getElementById('26').style.display = "none";
				document.getElementById('27').style.display = "none";
				document.getElementById('28').style.display = "none";
				document.getElementById('29').style.display = "none";
				document.getElementById('30').style.display = "";
				document.getElementById('300').style.display = "none";
			} else if (selectSell.value === "jeon") {
				document.getElementById('21').style.display = "none";
				document.getElementById('22').style.display = "";
				document.getElementById('23').style.display = "";
				document.getElementById('24').style.display = "none";
				document.getElementById('25').style.display = "none";
				document.getElementById('26').style.display = "none";
				document.getElementById('27').style.display = "none";
				document.getElementById('28').style.display = "none";
				document.getElementById('29').style.display = "none";
				document.getElementById('30').style.display = "none";
				document.getElementById('300').style.display = "none";
			} else {
				document.getElementById('21').style.display = "none";
				document.getElementById('22').style.display = "none";
				document.getElementById('23').style.display = "none";
				document.getElementById('24').style.display = "";
				document.getElementById('25').style.display = "";
				document.getElementById('26').style.display = "none";
				document.getElementById('27').style.display = "none";
				document.getElementById('28').style.display = "none";
				document.getElementById('29').style.display = "none";
				document.getElementById('30').style.display = "none";
				document.getElementById('300').style.display = "none";
			}
		} else if (selectType.value === 'land') {
			document.getElementById('21').style.display = "";
			document.getElementById('22').style.display = "none";
			document.getElementById('23').style.display = "";
			document.getElementById('24').style.display = "none";
			document.getElementById('25').style.display = "none";
			document.getElementById('26').style.display = "none";
			document.getElementById('27').style.display = "none";
			document.getElementById('28').style.display = "none";
			document.getElementById('29').style.display = "none";
			document.getElementById('30').style.display = "";
			document.getElementById('300').style.display = "";
		} else {
			if (selectSell.value === 'sell') {
				document.getElementById('21').style.display = "";
				document.getElementById('22').style.display = "none";
				document.getElementById('23').style.display = "";
				document.getElementById('24').style.display = "none";
				document.getElementById('25').style.display = "none";
				document.getElementById('26').style.display = "";
				document.getElementById('27').style.display = "none";
				document.getElementById('28').style.display = "";
				document.getElementById('29').style.display = "";
				document.getElementById('30').style.display = "";
				document.getElementById('300').style.display = "none";
			} else if (selectSell.value === 'jeon') {
				document.getElementById('21').style.display = "none";
				document.getElementById('22').style.display = "";
				document.getElementById('23').style.display = "";
				document.getElementById('24').style.display = "none";
				document.getElementById('25').style.display = "none";
				document.getElementById('26').style.display = "none";
				document.getElementById('27').style.display = "none";
				document.getElementById('28').style.display = "none";
				document.getElementById('29').style.display = "none";
				document.getElementById('30').style.display = "none";
				document.getElementById('300').style.display = "none";
			} else {
				document.getElementById('21').style.display = "none";
				document.getElementById('22').style.display = "none";
				document.getElementById('23').style.display = "none";
				document.getElementById('24').style.display = "";
				document.getElementById('25').style.display = "";
				document.getElementById('26').style.display = "none";
				document.getElementById('27').style.display = "none";
				document.getElementById('28').style.display = "none";
				document.getElementById('29').style.display = "none";
				document.getElementById('30').style.display = "none";
				document.getElementById('300').style.display = "none";
			}
		}
	}

	selectSell.addEventListener('change', function (e) {
		changes();
	});

	selectType.addEventListener('change', function (e) {
		changes();
		selectSell.value = 'sell';
		if (this.value === 'land') {
			document.getElementById('jeon').style.display = "none";
			document.getElementById('rent').style.display = "none";
		} else {
			document.getElementById('jeon').style.display = "block";
			document.getElementById('rent').style.display = "block";
		}


		if (this.value === 'house' || this.value === "factory" || this.value === "villa") {
			document.getElementById('1').style.display = "";
			document.getElementById('2').style.display = "";
			document.getElementById('3').style.display = "";
			document.getElementById('4').style.display = "none";
			document.getElementById('5').style.display = "none";
			document.getElementById('6').style.display = "none";
			document.getElementById('7').style.display = "none";

			document.getElementById('current').style.display = "block";
			document.getElementById('31').style.display = "";
			document.getElementById('32').style.display = "";
			document.getElementById('33').style.display = "";
			document.getElementById('34').style.display = "";
			document.getElementById('35').style.display = "none";
			document.getElementById('36').style.display = "none";
			document.getElementById('37').style.display = "none";
			document.getElementById('38').style.display = "none";
			document.getElementById('39').style.display = "none";
			document.getElementById('40').style.display = "none";
		} else if (this.value === 'land') {
			document.getElementById('1').style.display = "";
			document.getElementById('2').style.display = "none";
			document.getElementById('3').style.display = "none";
			document.getElementById('4').style.display = "";
			document.getElementById('5').style.display = "";
			document.getElementById('6').style.display = "none";
			document.getElementById('7').style.display = "none";

			document.getElementById('current').style.display = "none";
		} else {
			document.getElementById('1').style.display = "";
			document.getElementById('2').style.display = "";
			document.getElementById('3').style.display = "";
			document.getElementById('4').style.display = "none";
			document.getElementById('5').style.display = "none";
			document.getElementById('6').style.display = "";
			document.getElementById('7').style.display = "";

			document.getElementById('current').style.display = "block";
			document.getElementById('31').style.display = "";
			document.getElementById('32').style.display = "none";
			document.getElementById('33').style.display = "none";
			document.getElementById('34').style.display = "none";
			document.getElementById('35').style.display = "";
			document.getElementById('36').style.display = "";
			document.getElementById('37').style.display = "";
			document.getElementById('38').style.display = "";
			document.getElementById('39').style.display = "";
			document.getElementById('40').style.display = "";
		}
	});
</script>

</html>